[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BigQuic"]
	path = BigQuic
	url = https://github.com/cran/BigQuic
[submodule "famSKATRC"]
	path = famSKATRC
	url = https://github.com/cran/famSKATRC
